body 
{
 background-color:#ffcccc;
}

textarea:focus, input:focus{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);    
    -webkit-user-modify: read-write-plaintext-only;
}
canvas:focus {
 -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
 -webkit-focus-ring-color: rgba(255, 255, 255, 0);
 border:none;
 outline: none;
}